body{
	margin: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    align-items: center;
    box-sizing: border-box;
    padding: 0px 140px 0px 113px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-list a{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}
.menu-list button{
    width: 22px;
    height: 20px;
    border: 0;
    background-color: transparent;
}
main{
    width: 100%;
}
.container{
    width: 100%;
}
.color-background1{
    display: flex;
    width: 100%;
    height: 458px;
    background-color: #C9ADC6;
}
.color-background2{
    display: flex;
    height: 359px;
    width: 100%;
    background-color: #D6BBD3;
}
.image1{
    display: flex;
    position: absolute;
    height: 675px;
    width: 851px;
    left: 178px;
    top: 192px;
}
.text-block{
    color: #FFFFFF;
    box-sizing: border-box;
    flex-direction: column;
    align-items:;
    padding: 62px 40px;
    display: flex;
    position: absolute;
    text-align: left;
    width: 425px;
    height: 450px;
    background-color: #B08EAD;
    left: 902px;
    top: 302px;
}
.text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.text2{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
}
.text3{
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.text3 a{
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px #FFFFFF solid;
    padding-bottom: 3px;
}
.container2{
    justify-content: center;
    display: flex;
}
.text-block3{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #5F4D5D;
}
.text1-block3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.text2-block3{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
}
.btn-block3{
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    width: 140px;
    height: 45px;
    border: 1px solid #B99BB6;
    border-radius: 25px;
}
.container3{
    margin-top: 38px;
    display:flex;
    justify-content: center;
    gap: 37px;
}
.block-container3{
    color: #FFFFFF  ;
    width: 368px;
    height: 430px;
    background-color:  #CEB3CB;
}
.graund-text-container3{
    height: 115px;
    justify-content: end;
}
.text1-container3{
    margin: 23px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.text2-container3{
    margin: 23px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}
.container4{
    margin: 70px 120px;
}
hr{
    margin: 40px 0px;
}
.block1-block4{
    display: flex;
}
.text1-block4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #B99BB6;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}
.text2-block4{
 font-family: 'Cormorant Garamond';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 30px;
 color: #5F4D5D;
}
.text-block1-block4{
    margin: 44px 85px;
}
.block2-block4{
    display: flex;
}
.text-block2-block4{
    margin: 60px 93px;
}
.text-block2-block4 button{
    border: 1px solid #B99BB6;
    background-color: transparent;
    width: 140px;
    height: 45px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
}
.block3-block4{
    display: flex;
}
.text-block3-block4{
     margin: 60px 88px;
}
.text1-block5{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #5F4D5D;
    margin: 5px 0px;
}
.text2-block5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #B0B0B0;
    margin: 5px 0px;
}
.desc1-block5{
    margin: 50px 0px;
    justify-content: center;
    display: flex;
    gap: 30px;
}
footer{
    width: 100%;
}
.foot-bk1{
    background: #D6BBD3;
    width: 100%;
}
.foot-block1{
    box-sizing: border-box;
    padding: 40px 0px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot-text1{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}
.foot-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}
.foot-bk2{
    width: 100%;
    background: #C9ADC6;
}
.foot-block2{
    box-sizing: border-box;
    padding: 27px 370px 58px 490px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-text-block2{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
}
.foot-text-block2 a{
    text-decoration: none;
    color: #FFFFFF;

}